.error-message {
    color: red;
  }

.p-ep{
    color: #000;
}
  
.modal-content-ep {
    display: flex; /* เพิ่มคุณสมบัตินี้เพื่อใช้ Flexbox */
    flex-direction: column; /* จัดเรียงเนื้อหาในแนวดิ่ง */
    align-items: center; /* จัดตำแหน่งแนวตั้งกลาง */
    text-align: center; /* จัดตำแหน่งข้อความในแนวนอนกลาง */
    width: 400px; /* กำหนดความกว้างที่คุณต้องการ */
  }
/* เพิ่มสีตัวหนังสือใน label เป็นสีดำ */
.label-ep {
    color: black;
  }
.modal-content-ep h3{
    color: #000;
}
  
  /* เพิ่มกรอบและโค้งให้กับ input */
  .input-ep {
    border: 2px solid #ccc; /* เพิ่มความหนาให้กับเส้นกรอบ */
    border-radius: 10px; /* เพิ่มความโค้งของขอบ */
    padding: 10px; /* เพิ่มช่องว่างภายใน input */
    width: 65%; /* ทำให้ input กว้างเต็มพื้นที่ของ parent */
    height: 20px; /* กำหนดความสูงของ input */
    font-size: 16px; /* กำหนดขนาดตัวอักษรใหญ่ขึ้น */
    font-weight: bold; /* ทำให้ตัวอักษรตัวหนา */
  }
  

.img-input-container-ep {
    margin: 20px 0;
    cursor: pointer;
    border: 2px solid #121212;
    padding: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    height: 315px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    display: flex; /* เพิ่มคุณสมบัตินี้เพื่อใช้ Flexbox */
    justify-content: center; /* จัดตำแหน่งแนวนอนกลาง */
    align-items: center; /* จัดตำแหน่งแนวตั้งกลาง */
  }

.input-row-model button {
    margin-right: 10px; /* เพิ่มระยะห่างด้านขวาระหว่างปุ่ม */
  }

.save-button{
    background-color: #ff1493;
    transition: background-color 0.3s ease;
}

.save-button:hover{
    background-color: #d01076;
}

.delete-button{
    background-color: rgb(255, 75, 66);
    transition: background-color 0.3s ease;
}

.delete-button:hover{
    background-color: rgb(215, 44, 35);
}
